:root{
  --radiusSize: 25;
}

div{
    margin: 0;
    padding: 0;
}

.borderRadius-1{
    border-radius: 5px !important;
}
.borderRadius-2{
    border-radius: 10px !important;
}
.borderRadius-3{
    border-radius: 15px !important;
}
.borderRadius-4{
    border-radius: 20px !important;
}
.borderRadius-5{
    border-radius: 25px !important;
}
.borderRadius-c{
    border-radius: 50% !important;
}

.centerText{
    text-align: center;
}

.secondaryText{
    color: gray;
}

.noSpacing{
    margin: 0;
    padding: 0;
}

.hoverSpin{
    transition: transform .5s ease-in-out;
}

.hoverSpin:hover{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.glassmorphic{
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.circlesOnRight{
    background: radial-gradient(100px circle at 55% 40%, 
                                #BD8181 50%, transparent 51%),
                radial-gradient(100px circle at 85% 30%, 
                                #798897 50%, transparent 51%),
                radial-gradient(215px circle at 75% 70%, 
                                #CE0F3D 50%, transparent 51%)
}

.circlesOnLeft{
    background: radial-gradient(100px circle at 15% 40%, 
                                #BD8181 50%, transparent 51%),
                radial-gradient(100px circle at 45% 30%, 
                                #798897 50%, transparent 51%),
                radial-gradient(215px circle at 35% 70%, 
                                #CE0F3D 50%, transparent 51%)
}

.fadeIn {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}
/* Fade-Out Effect */
.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}
