:root{
  --radiusSize: 25;
}

div{
    margin: 0;
    padding: 0;
}

.borderRadius-1{
    border-radius: 5px !important;
}
.borderRadius-2{
    border-radius: 10px !important;
}
.borderRadius-3{
    border-radius: 15px !important;
}
.borderRadius-4{
    border-radius: 20px !important;
}
.borderRadius-5{
    border-radius: 25px !important;
}
.borderRadius-c{
    border-radius: 50% !important;
}

.centerText{
    text-align: center;
}

.secondaryText{
    color: gray;
}

.noSpacing{
    margin: 0;
    padding: 0;
}

.glassmorphic{
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
